

p {
  font-family: verdana;
  font-size: 40px;
  color: rgb(66, 25, 188);
}
h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 60px;
  color: rgb(50, 164, 120);
  text-align: center;
}
h6 {
  font-size: 90px;
}
img {
  border-radius: 20px;
  border-style: solid;
  border-color: rgb(231, 117, 72);
  border-width: 1ch;
}
