/*Geral*/
html {
  font-family: 'open Sans', sans-serif;
}
body {
  margin: 0;
}
h1, h2, h3, h4, h5, p, span {
  margin: 0;
  color: rgb(18, 7, 7);
}
.container {
  max-width: 1920px;
  width: 100%;
}

/*header*/
header {
  position: relative;
  top: 0;
  height: auto;
  width: 100%;
}
/*navbar*/
nav {
  position: fixed;
  top: 0;
  height:100px;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}
nav:after {
  clear: both;
  content: "";
  display: block;
}
.nav-container {
  max-width: 1200px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

#logo {
  width: 80px;
  height: 80px;
  margin-top: 10px;
}

.nav-container ul {
  float: right;
  height: 100px;
  line-height: 100px;
  margin: 0;
}

.nav-container li {
  list-style: none;
  float: left;
  margin: 0 15px;
}

.nav-container li a {
  text-decoration: none;
  color: rgb(102, 102, 102);
  transition: .5s;
}
.nav-container li a:hover {
  color: #3381f3;
}

/*Banner*/
#main-banner {
  background: url(../imagens/banner2.jpg)  no-repeat;
  background-size: cover;
  background-position: 0 55%;
  position: relative;
  margin-top: 100px;
}

#search-form {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3cm;
  padding-bottom: 3cm;
  text-align: center;

}

#search-form h1 {
  font-size: 60px;
  background-color: #666;
  opacity: 0.8;
  color: aqua;
}

#search-form p {
  color: aqua;
  margin-top: 30px;
  margin-bottom: 80px;
  font-size: 30px;
  font-weight: 750;
  background-color: #666;
  opacity: 0.8;
}
/*footer*/
footer {
background-color: rgb(18, 173, 190);
padding-top: 0,5cm;
padding-bottom: 20px;
border-top: 8px solid #ffffff; 
}

footer h2, footer p, footer a, footer span {
  color: #d1d1d1; 
}

footer h2 {
  font-weight: 900;
}

footer a {
  text-decoration: none;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
}

.footer-box {
  width: 30%;
  padding: 1%;
  float: left;
}

footer .wrapper:after {
  clear: both;
  content: "";
  display: block;
}

.footer-list.footer-articles-list span {
  display: block;
  float: none;
}

.fab { 
font-size: 30px;
margin-left: 10px;
float: left;
}

.footer-list li span {
  float: left;
  height: 30px;
  line-height: 30px;
}

.footer-bottom {
  border-top: 1px solid #ffffff;
}

.footer-bottom p {
  font-weight: 900;
  margin-top: 10px;
  }


